@charset "UTF-8";

body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
		url("../img/banner.png");
	background-size: cover; /* ✅ CLAVE */
	background-position: center; /* centra la imagen */
	background-repeat: no-repeat; /* evita repetición */
	background-attachment: fixed; /* opcional */
}

form {
	border-radius: 10px;
	background: #E0DEDE;
	padding: 1rem;
}